@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: auto;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
}
#input-buscar-filme{
    width: 75%;
}
#listar-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}
#logo{
    width: 3rem;
    height: 2.8rem;
}
.card-img-topz{
    width: 20.63rem;
    height: 30rem;
    border-radius: 0.25rem;
}
.card{
    width: 20.73rem;
    height: 39rem;
    margin: 1rem;
}
.card:hover{
    width: 20.73rem;
    height: 39rem;
    margin: 1rem;
    background-color: #f8f9fa;
    transition: background-color .15s ease-in-out;
}
.card-title{
    font-family: 'Staatliches', cursive;
}
.btnDetalhesFilme{
    margin-top: 0.7rem;
    margin-left: 6.68rem;
    color: #198754;
    background-color: transparent;
    border-color: #198754;
    border: 1px solid #198754;
    font-size: 1rem;
    padding: 0.335rem 0.75rem;
    font-size: 1rem;
    border-radius: 1.3rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
.btnDetalhesFilme:hover{
    border-color: transparent;
    color: white;
    background-color: #198754;
}
#btn-fechar{
    float: left;
    display: flex;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
    font-weight: 500;
    color: #ca3535;
    background-color: transparent;
    border-color: #ca3535;
    border: 1px solid #ca3535;
    font-size: 1rem;
    padding: 0.335rem 1rem;
    border-radius: 1.3rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
#btn-fechar:hover{
    border-color: transparent;
    color: white;
    background-color: #ca3535;
}
#btn-salvar{
    float: left;
    display: flex;
    margin-top: 2.5rem;
    margin-left: 4rem;
    color: #198754;
    font-weight: 500;
    background-color: transparent;
    border-color: #198754;
    border: 1px solid #198754;
    font-size: 1rem;
    padding: 0.335rem 1.15rem;
    border-radius: 1.3rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
#btn-salvar:hover{
    border-color: transparent;
    color: white;
    background-color: #198754;
}
#mostrar-filme{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-weight: 500;
    text-shadow: 0rem 0rem 0.5rem 0rem rgb(103, 103, 103);
}
#imagem-detalhes{
    width: 20.63rem;
    height: 30rem;
    border-radius: 0.25rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(103, 103, 103);
}
#div-detalhes-card{
    float: left;
    margin-top: -29rem;
    margin-left: 22rem;
    background-color: #f8f9fa;
    border-radius: 0.3rem;
    line-height: 3rem;
}